<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">Trend Blogger</h2>
        <span class="home-subtitle">Your source of great content</span>
    </div>
</section>


<div class="container">

    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="tech">Tech</span>
        <span class="filter-item" data-filter="food">Food</span>
        <span class="filter-item" data-filter="news">News</span>
    </div>

    <div class="post container">
        {{#each blogs}}
        <div class="post-box {{this.blogType}}">
            <img src="{{this.blogImage}}" class="post-img">
            <h2 class="category">{{this.blogType}}</h2>
            <a href="#" class="post-title">{{this.blogName}}</a>
            <span class="post-date">{{moment this.updatedAt "LL"}}</span>
            <p class="post-description">{{this.blogInfo}}</p>
            <div class="profile">
                <img src="{{this.author.avatar}}" alt="" class="profile-img">
                <span class="profile-name">{{this.author.username}}</span>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- Pagination -->
    <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>